.container.page.cf
  %section#about.cf
    %h2 About Me
    %img.bordered.left(src="http://erickel.ly.s3.amazonaws.com/eric.jpg")
    %p My name is Eric Ryan Kelly and I like building things on the computer. Some of my favorite things to build are websites and web applications. I love learning about new stuff and keeping up to date with current best practices.
    %p New ideas are always popping into my head and I like spending my free time trying to realize those ideas.
    %p
      %a(href="http://erickel.ly.s3.amazonaws.com/resume.pdf") Download My Resume
  = haml :sidebar
