.page.container.cf
  %form(action="/login" method="post")
    %input(type="text" name="username" placeholer="Username")
    %input(type="text" name="password" placeholer="Password")
    %input(type="submit" value="Login") or <a href="/">cancel</a>
