%footer.container
  %ul
    %li
      Powered by Eric Kelly and <a href="http://sinatrarb.com">Sinatra</a>.

%script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
%script(src="/js/libs/jquery.isotope.min.js")
%script(src="/js/script.js")
%script(src="/js/ckeditor/ckeditor.js")
%script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3688569-2']);
  _gaq.push(['_trackPageview']);

  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
