%footer
  %ul
    %li
      Powered by Eric Kelly and <a href="http://sinatrarb.com">Sinatra</a>.

%script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
%script(src="/js/libs/jquery.isotope.min.js")
%script(src="/js/script.js")
%script(src="/js/ckeditor/ckeditor.js")
