%header#header.cf
  %a#logo(href="/")
    %h1 Eric Kelly
  %nav#nav
    %ul
      %li
        %a(href="/") Home
      %li
        %a(href="/work") Work
      %li
        %a(href="/blog") Blog
      %li
        %a(href="#") About
