%header#header.cf
  %a#logo(href="/")
    %h1 Eric<span class="light">Kelly</span>
  %nav#nav
    %ul
      %li
        %a(href="/") Blog
      %li
        %a(href="/work") Work
      %li
        %a(href="/about") About
