%h1.intro 
  I’m <span class="highlight">Eric</span> and I enjoy beautifully crafted <span class="highlight">user interfaces</span> that work.
  %span.small
    Some of my other interests include <span class="highlight">developing websites</span> and <span class="highlight">web/mobile applications</span>.
