%h1 Add a New Post

%form(action="/post" method="POST")
	
	%label(for="title") Title:
	%input(type="text" name="post[title]" value="#{@post.title}")
	
	%label(for="body") Body:
	%textarea(name="post[body]" value="#{@post.body}")
	
	%input#submit(type="submit" value="Submit") or <a href="/blog">cancel</a>