%ol
  %li
    %label(for="title") Title:
    %input(type="text" name="title" placeholder="Title Here" value="#{@post.title}")
  %li
    %label(for="body") Body:
    %textarea.ckeditor(name="body")
      =@post.body
