.page.container.cf
  %section.work-info
    %section.details
      %h1 #{@work.title}
      %p #{@work.info}
      %h2 Services
      - unless @work.services.empty?
        %ul
          - @work.services.split.each do |s|
            %li= s

    %section.images
      %p #{@work.screenshots}
