.page.container.cf
  %section#work-all
    %header
      %h2 My Work
      #options
        %ul#filters
          %li
            %a.selected(href="#filter" data-filter="*") All
          %li
            %a(href="#filter" data-filter=".web") Websites
          %li
            %a(href="#filter" data-filter=".app") Web Apps
          %li
            %a(href="#filter" data-filter=".mobile") Mobile
          %li
            %a(href="#filter" data-filter=".game") Games
    #works.clearfix
      %ul
        - @works.each do |w|
          %li
            %a(class="work #{w.classification}" href="/work/#{w.slug}")
              %img(src="#{w.thumb}")
