/* @override http://localhost:9393/css/style.css */

/*
Author: Eric Kelly
For: His Portfolio Website (youfounderic.com)
*/

/* Text Selection Color */
::-moz-selection{ background: #fa453c; color:#fff; text-shadow: none; }
::selection { background:#fa453c; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #fa453c; }

body {
	border-top: 5px solid #585858;
    font-size: 87.5%;
    font-size: 14px;
    font-family: "museo-sans-1","museo-sans-2",Arial,sans-serif;
    line-height: 1.5;
	background-image: url(/img/bg.gif);
}
strong, em, b, i {
font-family: Arial, Helvetica, sans-serif; }

a {
	font-weight: normal;
}
a:link {
	text-decoration: none;
}
a:visited { }
a:active { }
a:hover {
background-color: #ffffff;
text-decoration: underline; }
table, thead, tbody, tr, th, td {
font-size: 1em }

h1, h2, h3 {
font-family: "museo-sans-1","museo-sans-2",Arial,sans-serif;
font-weight: bold; }

h1 {
font-size: 42px;
font-weight: 900;
letter-spacing: -0.03em;
color: #585858;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.intro {
	font: 36px/1em "Myriad Pro";
	color: #a9a9a9;
	margin-bottom: 50px;
}
.intro .small {
	font-size: 26px;
	font-weight: normal;
}
.intro .highlight {
	font-weight: 900;
	color: #585858;
}

h2 {
margin-bottom: 10px;
letter-spacing: -0.03em;
color: #585858;
text-transform: uppercase;
font-size: 20px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

#container {
    width: 940px;
    margin: 0 auto;
}

/* HEADER */
#header {
	height: 155px;
	border-bottom: 5px solid #e1e1e1;
	margin-bottom: 50px;
}
#logo {
	float: left;
	margin-top: 70px;
	color: #585858;
	text-decoration: none;
	font: 900 42px "museo-sans-1","museo-sans-2",Arial,sans-serif;
	text-transform: UPPERCASE;
}
#nav ul {
	float: right;
	width: auto;
	margin: 0;
	letter-spacing: 1px;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav li a {
	display: block;
	float: left;
	width: 70px;
	color: #ffffff;
	background: #585858;
	margin-left: 10px;
	padding: 60px 0 10px 0;
	text-align: center;
	text-decoration: none;
	text-transform: UPPERCASE;
	
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#nav li a:active {
	background: #fa453c;
	padding: 90px 0 10px 0;
}

/* MAIN */
#main {
	clear: both;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }